extends layout

block scripts
  script(type="text/javascript")
    dragons.baseEnemies = !{JSON.stringify(baseEnemies)};
    dragons.map         = !{JSON.stringify(game.map)};
    dragons.enemies     = !{JSON.stringify(game.enemies)};

  script(type="text/javascript", src="/javascripts/canvas.js")
  script(type="text/javascript", src="/javascripts/edit_enemies.js")

block styles
  link(rel="stylesheet", href="/stylesheets/edit_enemies.css")

block content
  h2.pageTitle #{game.name}

  .row-fluid
    .span2
      h3 Edit Game
      .nav.nav-tabs.nav-stacked
        li
          a(href="/game/#{game._id}/edit/map") Edit Map
        li.active
          a(href="#") Edit Enemies

    .span10
      h3 Edit Enemies

      .enemies
        .row-fluid
          .span5.baseEnemies
            for enemy in baseEnemies
              img.baseEnemy(height="25px", width="25px", src="#{enemy.image}", data-id="#{enemy._id}")
          .span3
            h4 Enemies
            p Click and drag an enemy onto the map to place it
        .row-fluid
          .span9
            #canvasContainer
              canvas#map(width="#{mapSize.width}px", height="#{mapSize.height}px")
          .span3
            .enemyProperties.hidden
              h3.enemyName
              form
                .row-fluid
                  .span6
                    label(for="level") Level:
                    input.input-small.level(type="text", name="level", disabled)
                  .span6
                    label(for="type") Type:
                    input.input-small.type(type="text", name="type", disabled)

                .row-fluid
                  .span6
                    label(for="health") Health:
                    input.input-small.health(type="text", name="health", disabled)
                  .span6
                    label(for="armor") Armor:
                    input.input-small.armor(type="text", name="armor", disabled)
                .row-fluid
                  .span6
                    label(for="pullRadius") Pull Radius:
                    input.input.pullRadius(type="number", name="pullRadius")


