extends layout

block scripts
  script(type="text/javascript")
    dragons.enemies = !{JSON.stringify(game.enemies)};
    dragons.players = !{JSON.stringify(game.players)};
    dragons.map     = !{JSON.stringify(game.map)};  
    dragons.your_id = !{JSON.stringify(your_id)};
    dragons.fog     = !{JSON.stringify(game.fog || null)};
    dragons.attacks = !{JSON.stringify(attacks)};
    dragons.gameId  = "!{game._id}";

  script(type="text/javascript", src="/javascripts/keyboard.js")
  script(type="text/javascript", src="/javascripts/canvas.js")
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/fog.js")
  script(type="text/javascript", src="/javascripts/combat.js")
  script(type="text/javascript", src="/javascripts/game.js")

block styles
  link(rel="stylesheet", href="/stylesheets/game.css")

block content
  .row-fluid
    .span10
      #canvasContainer
        canvas#map(width="#{mapSize.width}px", height="#{mapSize.height}px")
      #playerBar
        .name 
        .attacks_bar
          .attack1.attack
          .attack2.attack
        .clear
      #attacks
        h4 Attacks (Drag one onto slot to equip)
        each attack,name in attacks
          img.attack(src="#{attack.icon}", data-name="#{name}", width="40px", height="40px", data-toggle="tooltip", title, data-original-title="#{name} <br /> Hit: #{attack.hit * 100}% <br /> Damage: #{attack.minDamage}-#{attack.maxDamage}", data-placement="right", data-html="true")
      #ping
      #frameRate
  #combatModal.modal.hide.face(role="dialog", data-backdrop="static")
    .modal-header
      h3 Fight!

    .modal-body
      .players
      .enemies
      
      .clear

       .messages
      .controls
        .player
          img.portrait
          .healthBar
            .healthMeter
        .attacks_bar
          .attack1.attack
          .attack2.attack
      
  audio#dungeonMusic(loop, autoplay)
    source(src="https://s3.amazonaws.com/hopkins_dragons/cave_music.ogg", type="audio/ogg")
