extends layout

block scripts
  script(type="text/javascript")
    dragons.enemies = !{JSON.stringify(game.enemies)};
    dragons.players = !{JSON.stringify(game.players)};
    dragons.map     = !{JSON.stringify(game.map)};  
    dragons.your_id = !{JSON.stringify(your_id)};
    dragons.gameId  = "!{game._id}";

  script(type="text/javascript", src="/javascripts/keyboard.js")
  script(type="text/javascript", src="/javascripts/canvas.js")
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/game.js")

block styles
  link(rel="stylesheet", href="/stylesheets/game.css")

block content
  button.btn.btn-primary#observe Observe
  .row-fluid
    .span10
      #canvasContainer
        canvas#map(width="#{mapSize.width}px", height="#{mapSize.height}px")
      #ping
      #frameRate
